<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Ajouter un projet</h3>
  </div>
  <div class="panel-body">
    <input class="form-control input-lg" placeholder="Entrez un titre pour le nouveau projet" type="text" v-model="newProject.title">
    <br>
    <input class="form-control" placeholder="Sous-titre" type="text" v-model="newProject.subtitle">
    <br>
    <textarea class="form-control" placeholder="Entrez un texte de description" type="text" style="height:20em;" v-model="newProject.description"></textarea>
    <br>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-primary" @click="saveNewProject">Ajouter le projet</button>
    <a class="btn btn-danger" href="..">Annuler</a>
  </div>
</div>
