<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
  <div id="wrapper">
	   <% include ./navbar %>
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
		      <% include ./sidebar %>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->

  		<div class="main">
  			<!-- MAIN CONTENT -->
  			<div class="main-content">
  				<div class="container-fluid">
            <transition name="component-fade" mode="out-in">
              <router-view></router-view>
            </transition>
  				</div>
  			</div>
  			<!-- END MAIN CONTENT -->
  		</div>
    </div>



		<% include ./stats %>
		<% include ./projects %>
		<% include ./projects/list_project %>
		<% include ./projects/add_project %>
		<% include ./projects/edit_project %>
		<% include ./subscriptions %>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<% include ./footer %>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<style media="screen">
    .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .2s ease;
    }
    .component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active for <2.1.8 */ {
    opacity: 0;
    }
    .has-placeholder {
      filter: none;
      transition: all 200ms;
      background-color: transparent;
    }

    .has-placeholder:empty {
      width: 5vw;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.2);
      filter: blur(7px);
    }
  </style>

	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
	<script src="https://cdn.jsdelivr.net/vue2-filters/0.1.9/vue2-filters.min.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>

	<script src="./app/index/index.js"></script>
	<script src="./app/projects/add_project.js"></script>
	<script src="./app/projects/edit_project.js"></script>
	<script src="./app/projects/list_projects.js"></script>
	<script src="./app/projects/projects.js"></script>
	<script src="./app/subscriptions/subscriptions.js"></script>

	<script src="./app/app.js"></script>
</body>

</html>
