<div class="panel" v-if="state == 'edit'" key="edit">
  <div class="panel-heading">
  <h3 class="panel-title">Editer un projet</h3>
  </div>
  <div class="panel-body">
  <input class="form-control input-lg" placeholder="Entrez un titre pour le nouveau projet" type="text" v-model="editedProject.title">
  <br>
  <input class="form-control" placeholder="Sous-titre" type="text" v-model="editedProject.subtitle">
  <br>
  <textarea class="form-control" placeholder="Entrez un texte de description" type="text" v-model="editedProject.description" style="height:20em;"></textarea>
  <br>
  </div>
  <div class="panel-footer text-right">
  <button class="btn btn-primary" @click="saveEditedProject">Enregistrer</button>
  <button class="btn" @click="getBack">Annuler</button>
  </div>
</div>
