<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Projets enregistrés</h3>
    <div class="right">
      <button class="btn btn-primary" v-on:click="changeState('new')">Nouveau projet</button>
    </div>
  </div>
  <div class="panel-body">
    <input class="form-control input-lg" placeholder="Chercher un projet" type="text" v-model="searchString">
    <hr>
    <ul class="list-unstyled project-list">
      <li v-for="(project, index) in projects" v-on:click="editProject(''+ index)" v-if="isSearched(project)">
        <label class="control-inline fancy-image">
          <img src="assets/img/user2.png" alt="Avatar" class="pull-left avatar">
        </label>
        <p>
          <span class="title">{{project.title}}</span>
          <span class="short-description">{{project.subtitle}}</span>
          <span class="date">{{project.last_update}}</span>
        </p>
      </li>
    </ul>
  </div>
</div>
