<template id="projects-template">
  <div class="">
    <div class="row">
      <div class="col-md-8">
        <transition name="component-fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>
