<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Subscriptions à la newsletter</h3>
  </div>
  <div class="panel-body">
    <input class="form-control input-lg" placeholder="Chercher un projet" type="text" v-model="searchString">
    <hr>
    <ul class="list-unstyled project-list">
      <li v-for="(subscription, index) in subscriptions"  v-if="isSearched(subscription)">
        <p>
          <span class="title">{{subscriptions.email}}</span>
          <span class="date">{{subscription.date}}</span>
        </p>
      </li>
    </ul>
  </div>
</div>
