<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span>Brand</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <!-- l'id de cette div est utilisé par le script js pour savoir ou se trouvent les champs du formulaire -->
            <div role="form" class="text-center" enctype='application/json' id="inscription">
              <div class="form-group">
                <label class="control-label">Last Name</label>
                <!-- la fonction v-bind dit au javascript à quelle variable js correspond la valeur du champ-->
                <input class="form-control" placeholder="Champion." type="text" v-model="name">
              </div>
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" placeholder="Champoin. ah." type="text" v-model="firstName">
              </div>
              <div class="form-group">
                <label class="control-label">Email address</label>
                <input class="form-control" placeholder="alice@wonderland.wl" type="email" v-model="email">
              </div>
              <button v-on:click="sendData" class="btn btn-info btn-lg">Abonne toi ;)</button>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>


</body>
<!-- Scripts utilisés par le js dynamique de la page, Vue : JS dynamique, vue.resource : AJAX, inscription.js : scripte tapé par moi -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script type="text/javascript" src="inscription.js">
    </script>
</html>
